[Unit]
Description=Lily Satellite
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/lily-satellite

[Install]
WantedBy=multi-user.target